archivo de contexto global.txt
contexto micro servicio 1.txt
generador-service/node_modules
girador-service/node_modules
verificadortablero-service/node_modules
deslizador-service/node_modules
cliente-service/node_modules
tetris-frontend/node_modules/.package-lock.json
tetris-frontend/node_modules/.bin/esbuild
tetris-frontend/node_modules/.bin/esbuild.cmd
tetris-frontend/node_modules/.bin/esbuild.ps1
tetris-frontend/node_modules/.bin/nanoid
tetris-frontend/node_modules/.bin/nanoid.cmd
tetris-frontend/node_modules/.bin/nanoid.ps1
tetris-frontend/node_modules/.bin/rollup
tetris-frontend/node_modules/.bin/rollup.cmd
tetris-frontend/node_modules/.bin/rollup.ps1
tetris-frontend/node_modules/.bin/vite
tetris-frontend/node_modules/.bin/vite.cmd
tetris-frontend/node_modules/.bin/vite.ps1
tetris-frontend/node_modules/.vite/deps/_metadata.json
tetris-frontend/node_modules/.vite/deps/package.json
tetris-frontend/node_modules/@esbuild/linux-x64/package.json
tetris-frontend/node_modules/@esbuild/linux-x64/README.md
tetris-frontend/node_modules/@esbuild/linux-x64/bin/esbuild
tetris-frontend/node_modules/@rollup/rollup-linux-x64-gnu/package.json
tetris-frontend/node_modules/@rollup/rollup-linux-x64-gnu/README.md
tetris-frontend/node_modules/@rollup/rollup-linux-x64-gnu/rollup.linux-x64-gnu.node
tetris-frontend/node_modules/@rollup/rollup-linux-x64-musl/package.json
tetris-frontend/node_modules/@rollup/rollup-linux-x64-musl/README.md
tetris-frontend/node_modules/@rollup/rollup-linux-x64-musl/rollup.linux-x64-musl.node
tetris-frontend/node_modules/@rollup/rollup-win32-x64-msvc/package.json
tetris-frontend/node_modules/@rollup/rollup-win32-x64-msvc/README.md
tetris-frontend/node_modules/@rollup/rollup-win32-x64-msvc/rollup.win32-x64-msvc.node
tetris-frontend/node_modules/@types/estree/flow.d.ts
tetris-frontend/node_modules/@types/estree/index.d.ts
tetris-frontend/node_modules/@types/estree/LICENSE
tetris-frontend/node_modules/@types/estree/package.json
tetris-frontend/node_modules/@types/estree/README.md
tetris-frontend/node_modules/esbuild/install.js
tetris-frontend/node_modules/esbuild/LICENSE.md
tetris-frontend/node_modules/esbuild/package.json
tetris-frontend/node_modules/esbuild/README.md
tetris-frontend/node_modules/esbuild/bin/esbuild
tetris-frontend/node_modules/esbuild/lib/main.d.ts
tetris-frontend/node_modules/esbuild/lib/main.js
tetris-frontend/node_modules/nanoid/index.browser.cjs
tetris-frontend/node_modules/nanoid/index.browser.js
tetris-frontend/node_modules/nanoid/index.cjs
tetris-frontend/node_modules/nanoid/index.d.cts
tetris-frontend/node_modules/nanoid/index.d.ts
tetris-frontend/node_modules/nanoid/index.js
tetris-frontend/node_modules/nanoid/LICENSE
tetris-frontend/node_modules/nanoid/nanoid.js
tetris-frontend/node_modules/nanoid/package.json
tetris-frontend/node_modules/nanoid/README.md
tetris-frontend/node_modules/nanoid/async/index.browser.cjs
tetris-frontend/node_modules/nanoid/async/index.browser.js
tetris-frontend/node_modules/nanoid/async/index.cjs
tetris-frontend/node_modules/nanoid/async/index.d.ts
tetris-frontend/node_modules/nanoid/async/index.js
tetris-frontend/node_modules/nanoid/async/index.native.js
tetris-frontend/node_modules/nanoid/async/package.json
tetris-frontend/node_modules/nanoid/bin/nanoid.cjs
tetris-frontend/node_modules/nanoid/non-secure/index.cjs
tetris-frontend/node_modules/nanoid/non-secure/index.d.ts
tetris-frontend/node_modules/nanoid/non-secure/index.js
tetris-frontend/node_modules/nanoid/non-secure/package.json
tetris-frontend/node_modules/nanoid/url-alphabet/index.cjs
tetris-frontend/node_modules/nanoid/url-alphabet/index.js
tetris-frontend/node_modules/nanoid/url-alphabet/package.json
tetris-frontend/node_modules/picocolors/LICENSE
tetris-frontend/node_modules/picocolors/package.json
tetris-frontend/node_modules/picocolors/picocolors.browser.js
tetris-frontend/node_modules/picocolors/picocolors.d.ts
tetris-frontend/node_modules/picocolors/picocolors.js
tetris-frontend/node_modules/picocolors/README.md
tetris-frontend/node_modules/picocolors/types.d.ts
tetris-frontend/node_modules/postcss/LICENSE
tetris-frontend/node_modules/postcss/package.json
tetris-frontend/node_modules/postcss/README.md
tetris-frontend/node_modules/postcss/lib/at-rule.d.ts
tetris-frontend/node_modules/postcss/lib/at-rule.js
tetris-frontend/node_modules/postcss/lib/comment.d.ts
tetris-frontend/node_modules/postcss/lib/comment.js
tetris-frontend/node_modules/postcss/lib/container.d.ts
tetris-frontend/node_modules/postcss/lib/container.js
tetris-frontend/node_modules/postcss/lib/css-syntax-error.d.ts
tetris-frontend/node_modules/postcss/lib/css-syntax-error.js
tetris-frontend/node_modules/postcss/lib/declaration.d.ts
tetris-frontend/node_modules/postcss/lib/declaration.js
tetris-frontend/node_modules/postcss/lib/document.d.ts
tetris-frontend/node_modules/postcss/lib/document.js
tetris-frontend/node_modules/postcss/lib/fromJSON.d.ts
tetris-frontend/node_modules/postcss/lib/fromJSON.js
tetris-frontend/node_modules/postcss/lib/input.d.ts
tetris-frontend/node_modules/postcss/lib/input.js
tetris-frontend/node_modules/postcss/lib/lazy-result.d.ts
tetris-frontend/node_modules/postcss/lib/lazy-result.js
tetris-frontend/node_modules/postcss/lib/list.d.ts
tetris-frontend/node_modules/postcss/lib/list.js
tetris-frontend/node_modules/postcss/lib/map-generator.js
tetris-frontend/node_modules/postcss/lib/no-work-result.d.ts
tetris-frontend/node_modules/postcss/lib/no-work-result.js
tetris-frontend/node_modules/postcss/lib/node.d.ts
tetris-frontend/node_modules/postcss/lib/node.js
tetris-frontend/node_modules/postcss/lib/parse.d.ts
tetris-frontend/node_modules/postcss/lib/parse.js
tetris-frontend/node_modules/postcss/lib/parser.js
tetris-frontend/node_modules/postcss/lib/postcss.d.mts
tetris-frontend/node_modules/postcss/lib/postcss.d.ts
tetris-frontend/node_modules/postcss/lib/postcss.js
tetris-frontend/node_modules/postcss/lib/postcss.mjs
tetris-frontend/node_modules/postcss/lib/previous-map.d.ts
tetris-frontend/node_modules/postcss/lib/previous-map.js
tetris-frontend/node_modules/postcss/lib/processor.d.ts
tetris-frontend/node_modules/postcss/lib/processor.js
tetris-frontend/node_modules/postcss/lib/result.d.ts
tetris-frontend/node_modules/postcss/lib/result.js
tetris-frontend/node_modules/postcss/lib/root.d.ts
tetris-frontend/node_modules/postcss/lib/root.js
tetris-frontend/node_modules/postcss/lib/rule.d.ts
tetris-frontend/node_modules/postcss/lib/rule.js
tetris-frontend/node_modules/postcss/lib/stringifier.d.ts
tetris-frontend/node_modules/postcss/lib/stringifier.js
tetris-frontend/node_modules/postcss/lib/stringify.d.ts
tetris-frontend/node_modules/postcss/lib/stringify.js
tetris-frontend/node_modules/postcss/lib/symbols.js
tetris-frontend/node_modules/postcss/lib/terminal-highlight.js
tetris-frontend/node_modules/postcss/lib/tokenize.js
tetris-frontend/node_modules/postcss/lib/warn-once.js
tetris-frontend/node_modules/postcss/lib/warning.d.ts
tetris-frontend/node_modules/postcss/lib/warning.js
tetris-frontend/node_modules/rollup/LICENSE.md
tetris-frontend/node_modules/rollup/package.json
tetris-frontend/node_modules/rollup/README.md
tetris-frontend/node_modules/rollup/dist/getLogFilter.d.ts
tetris-frontend/node_modules/rollup/dist/getLogFilter.js
tetris-frontend/node_modules/rollup/dist/loadConfigFile.d.ts
tetris-frontend/node_modules/rollup/dist/loadConfigFile.js
tetris-frontend/node_modules/rollup/dist/native.js
tetris-frontend/node_modules/rollup/dist/parseAst.d.ts
tetris-frontend/node_modules/rollup/dist/parseAst.js
tetris-frontend/node_modules/rollup/dist/rollup.d.ts
tetris-frontend/node_modules/rollup/dist/rollup.js
tetris-frontend/node_modules/rollup/dist/bin/rollup
tetris-frontend/node_modules/rollup/dist/es/getLogFilter.js
tetris-frontend/node_modules/rollup/dist/es/package.json
tetris-frontend/node_modules/rollup/dist/es/parseAst.js
tetris-frontend/node_modules/rollup/dist/es/rollup.js
tetris-frontend/node_modules/rollup/dist/es/shared/node-entry.js
tetris-frontend/node_modules/rollup/dist/es/shared/parseAst.js
tetris-frontend/node_modules/rollup/dist/es/shared/watch.js
tetris-frontend/node_modules/rollup/dist/shared/fsevents-importer.js
tetris-frontend/node_modules/rollup/dist/shared/index.js
tetris-frontend/node_modules/rollup/dist/shared/loadConfigFile.js
tetris-frontend/node_modules/rollup/dist/shared/parseAst.js
tetris-frontend/node_modules/rollup/dist/shared/rollup.js
tetris-frontend/node_modules/rollup/dist/shared/watch-cli.js
tetris-frontend/node_modules/rollup/dist/shared/watch.js
tetris-frontend/node_modules/source-map-js/LICENSE
tetris-frontend/node_modules/source-map-js/package.json
tetris-frontend/node_modules/source-map-js/README.md
tetris-frontend/node_modules/source-map-js/source-map.d.ts
tetris-frontend/node_modules/source-map-js/source-map.js
tetris-frontend/node_modules/source-map-js/lib/array-set.js
tetris-frontend/node_modules/source-map-js/lib/base64-vlq.js
tetris-frontend/node_modules/source-map-js/lib/base64.js
tetris-frontend/node_modules/source-map-js/lib/binary-search.js
tetris-frontend/node_modules/source-map-js/lib/mapping-list.js
tetris-frontend/node_modules/source-map-js/lib/quick-sort.js
tetris-frontend/node_modules/source-map-js/lib/source-map-consumer.d.ts
tetris-frontend/node_modules/source-map-js/lib/source-map-consumer.js
tetris-frontend/node_modules/source-map-js/lib/source-map-generator.d.ts
tetris-frontend/node_modules/source-map-js/lib/source-map-generator.js
tetris-frontend/node_modules/source-map-js/lib/source-node.d.ts
tetris-frontend/node_modules/source-map-js/lib/source-node.js
tetris-frontend/node_modules/source-map-js/lib/util.js
tetris-frontend/node_modules/vite/client.d.ts
tetris-frontend/node_modules/vite/index.cjs
tetris-frontend/node_modules/vite/index.d.cts
tetris-frontend/node_modules/vite/LICENSE.md
tetris-frontend/node_modules/vite/package.json
tetris-frontend/node_modules/vite/README.md
tetris-frontend/node_modules/vite/bin/openChrome.applescript
tetris-frontend/node_modules/vite/bin/vite.js
tetris-frontend/node_modules/vite/dist/client/client.mjs
tetris-frontend/node_modules/vite/dist/client/env.mjs
tetris-frontend/node_modules/vite/dist/node/cli.js
tetris-frontend/node_modules/vite/dist/node/constants.js
tetris-frontend/node_modules/vite/dist/node/index.d.ts
tetris-frontend/node_modules/vite/dist/node/index.js
tetris-frontend/node_modules/vite/dist/node/runtime.d.ts
tetris-frontend/node_modules/vite/dist/node/runtime.js
tetris-frontend/node_modules/vite/dist/node/types.d-aGj9QkWt.d.ts
tetris-frontend/node_modules/vite/dist/node/chunks/dep-C6uTJdX2.js
tetris-frontend/node_modules/vite/dist/node/chunks/dep-CEGXe0Sr.js
tetris-frontend/node_modules/vite/dist/node/chunks/dep-COdkJwUb.js
tetris-frontend/node_modules/vite/dist/node/chunks/dep-D-7KCb9p.js
tetris-frontend/node_modules/vite/dist/node/chunks/dep-IQS-Za7F.js
tetris-frontend/node_modules/vite/dist/node-cjs/publicUtils.cjs
tetris-frontend/node_modules/vite/types/customEvent.d.ts
tetris-frontend/node_modules/vite/types/hmrPayload.d.ts
tetris-frontend/node_modules/vite/types/hot.d.ts
tetris-frontend/node_modules/vite/types/import-meta.d.ts
tetris-frontend/node_modules/vite/types/importGlob.d.ts
tetris-frontend/node_modules/vite/types/importMeta.d.ts
tetris-frontend/node_modules/vite/types/metadata.d.ts
tetris-frontend/node_modules/vite/types/package.json
